*{
    margin: 0;
    padding: 0;
}

/* HERO SECTION STYLES */
.hero-section{
 background-image: url("../customImages/heroImage.png"); 
 background-size: cover;
 background-repeat: no-repeat;
 width: 100%;
 height: auto;
 margin-top: 3rem;
 padding: 11rem 0 10rem 5rem;

}

.hero-section-copy{
}

.hero-section-copy h1{
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 109%;
    letter-spacing: -3px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.hero-section-copy p{
    max-width: 37.8125rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.45rem;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-top: 1rem;
}

/* Large screen size responsive style */
@media screen and (min-width: 1400px){
    
}
/* End of large screen size */


/* END OF HERO SECTION STYLES */

/* VISION AND MISSION STATEMENT STYLE */
    .vision-container{
        margin-top: 6rem;
    }

    .vision-right{
        margin: 2.5rem 0 0 4rem;
    }

    .vision-wrapper{
        max-width: 75rem;
        margin: 0 auto;
        height: auto;
        background: #6B809B;
        box-shadow: 0px 21.8462px 24.5769px rgba(0, 0, 0, 0.05);
        border-radius: 14.219px;
    }

    .vis-statement h2, .core-val h2, .miss-statement h2{
        font-style: normal;
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 120.5%;
        text-transform: capitalize;
        color: #FFFFFF;

    }

    .vis-statement p, .core-val ul li{
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.825rem;
        letter-spacing: 0.01em;
        /* color: rgba(255, 255, 255, 0.6); */
        color: #fff
    }

    .miss-statement, .core-val{
        margin-top: 2.875rem;
    }

    .miss-statement p {
        max-width: 34.81rem;
        font-style: normal;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 1.825rem;
        letter-spacing: 0.01em;
        /* color: rgba(255, 255, 255, 0.6); */
        color: #fff;
        text-align: justify;
    }

    /* Responsive style */
    /* mobile screen */
    @media(max-width: 540px){
        .hero-section{
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .hero-section-copy{
            padding-left: 0;
            margin-top: -7.5rem;
        }

        .hero-section-copy h1{
            font-size: 2.5rem;
            text-align: left;
            line-height: 150%;
            letter-spacing: -1px;
        }

        .hero-section-copy p{
            font-size: 1.3rem;
            text-align: left;
            letter-spacing: -1px;
        }

        .vision-right{
            margin-left: 0;
            padding: 1rem;
        }
        .vision-wrapper{
           
        }
        .vis-statement h2, .core-val h2, .miss-statement h2{
            font-size: 1.5rem;
            text-align: left!important;
        }
        .miss-statement p{
            font-size: 1rem;
        }
        .vis-statement p, .core-val ul li{
            font-size: .875rem;
        }
        
        /* Web responsive */
        .proof-of-work .web h1,
        .proof-of-work .customers h1{
           font-size: 2rem!important;
        }
        .proof-of-work .web p,
        .proof-of-work .customers p{
            font-size: 1.2rem!important;
        }
    }

    @media(min-width: 0px) and (max-width: 360px){
        .hero-section{
            width: 100%!important;
            padding-left: 1rem;
            padding-right: 1rem;
        }


        .hero-section-copy h1{
            font-size: 2.2rem;
            text-align: left;
        }

        .hero-section-copy p{
            letter-spacing: -1px;
            justify-content: center;
        }
    }

    @media(width: 280px){
        .hero-section{
            /* width: 100%; */
        }
    }

    /* Ipad screen */
    @media(min-width: 540px) and (max-width: 900px){
        .vision-wrapper img{
            width: 100%;
        }
        .proof-of-work-child{
            width: 100%!important;
            /* justify-content: space-between!important; */
        }
        .proof-of-work .web,  .proof-of-work .customers {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .vision-right{
            width: 100%!important;
        }
    }

    /* Next hub screen */
    @media(min-width: 900px) and (max-width: 1105px){
        .vision-wrapper{
            flex-wrap: nowrap!important;
        }
        .vision-wrapper img{
            width: 50%!important;
        }
        .proof-of-work-child{
            width: 100%!important;
            /* justify-content: space-between!important; */
        }
        .proof-of-work .web,  .proof-of-work .customers {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .vision-right{
            width: 50%!important;
        }
    }
    /* End of Next hub screen */
/* END OF VISION AND MISSION STATEMENT STYLE */

/* PROOF OF WORK SECTION */
.proof-of-work{
    width: 100%!important;
    height: auto;
    padding: 3rem 0 3rem 0;
    background: rgba(217, 217, 217, 0.35);
    margin-top: 6rem;
    /* margin-left: -2%;
    margin-right: -5%!important; */
 }

 .proof-of-work .proof-of-work-child{
    max-width: 90%;
    margin: 0 auto;
 }

 .proof-of-work .web{
    /* border-right: 3px solid #BDBDBD;
    padding-right: 5rem; */
 }

 .proof-of-work .customers{
    /* padding-right: 5rem; */
 }

 .proof-of-work .web h1,
 .proof-of-work .customers h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 61px;
    text-align: center;
    color: #BDBDBD;
 }

 .proof-of-work .web p,
 .proof-of-work .customers p{
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 172%;
    /* identical to box height, or 38px */
    letter-spacing: -0.01em;
    color: #BDBDBD;
    margin-top: -.9rem;
    text-align: center;
 }
/* END OF PROOF OF WORK */

/* WHY CHOOSE US SECTION STYLE */
.why-choose{
    margin-top: 6rem;
}
.why-choose-left{
    max-width: 40rem;
}
.why-choose-left h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3.3125rem;
    line-height: 64px;
    letter-spacing: -0.03em;
    color: #6B809B;    
}
.why-choose-left p {
    max-width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 163.5%;
    /* or 35px */
    color: rgba(0, 0, 0, 0.4);
    text-align: justify;
}

.why-choose .side-logo{
    /* z-index: -1 */
}

.why-choose-parent{
    margin-top: 6rem;
    position: relative;
    padding-left: 0!important;
}

.why-wrapper{
    width: 100%;
    padding-left: 6rem;
}

.side-logo{
    position: absolute;
    z-index: -1000;
    top: 8rem;
}

.why-wrapper .why-choose-right-image{
    margin-right: -.9%;
}

@media(max-width: 540px){
    .why-choose-parent{
        margin-top: 4rem;
        padding-bottom: 3rem;
    }
    .why-wrapper{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .why-choose-left h1 {
        font-size: 3rem;
    }
    .why-choose-left p {
        font-size: 1rem;
    }
    .why-choose-parent img{
        display: none;
    }
}
@media(min-width: 601px) and (max-width: 900px){
    .why-choose-right-image{
        display: none!important;
    }
    .why-wrapper{
        /* flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important; */
    }
    .why-choose-left{
        margin-left: -2rem;
    }
}

/* Next hub screen */
    /* Next hub screen */
    @media(min-width: 900px) and (max-width: 1280px){
        .why-choose-right-image{
            display: none!important;
        }

        .why-choose-left{
            max-width: 100%!important;
        }

        .why-wrapper{
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .why-choose-parent{
            padding: 1rem 0 4rem 0;
        }
    }

/* Large screen size responsive style */
@media screen and (min-width: 1500px){
     .why-choose-left{
            max-width: 60%!important;
        }
}
/* END OF WHY CHOOSE US SECTION */

/* WORK FORCE SECTION */
.workforce {
    height: auto;
    background: #6B809B;
    padding: 8rem 0;
}

.workforce h6{
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 31px;
    color: #FFFFFF;
}

.workforce h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3.3125rem;
    line-height: 64px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.avatars{
    margin-top: 3.3125rem;
}


.avatar-child h3{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    margin-top: .9rem;
}

.avatar-child p{
    font-style: normal;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 150%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

/* Responsive style */
@media(max-width: 540px){
    .workforce{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .workforce h1{
        font-size: 3rem;
    }
    .avatars{
        display: flex;
        flex-direction: column;
    }
}
@media(min-width: 601px) and (max-width: 900px){
   .avatar-child{
        padding: 1rem!important;
    }
}



/* END OF WORK FORCE SECTION */

/* TESTIMONIAL SECTION */
.testimonial{
    height: auto;
    background: rgba(107, 128, 155, 0.2);
    padding: 3.75rem 0;
}

.testimonial h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3.3125rem;
    line-height: 120.5%;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}

.testimonial h6{
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 120.5%;
    text-transform: capitalize;
    color: #F58634;
}

.testimonial-body{
}

.first-testimonial{
    position: relative;
}

.testimonial-body img{
}

.testimonial-content {
    position: absolute;
    max-width: 18.25rem;
    top: 8rem;
    left: 2rem;
}

.testimonial-content .body-copy{
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
}

.testimonial-content .author{
    font-style: normal;
    font-weight: 500;
    font-size: .875rem;
    line-height: 146.5%;
    text-align: center;
    color: #000000;
}

/* Responsive style */
 @media(max-width: 414px){
    .testimonial h1{
        font-size: 3rem;
    }
    .testimonial h6{
        padding-left: 1rem;
        padding-right: 1rem;
    }
 }

 @media(min-width: 440px) and (max-width: 550px){
    .testimonial-body{
        flex-direction: column!important;
        padding-left: 15%!important;
    }
 }
/* END OF TESTIMONIAL SECTION */

/* CONTACT US SECTION */
.contact-us-wrapper{
    margin-top: 9rem;
}

.contact-us-wrapper h1{
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 0px;
    letter-spacing: -0.02222em;
    color: #000000;

}

.contact-form-section{
    max-width: 75.625rem;
    /* height: 669px; */
    background: #FFFFFF;
    box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.1)!important;
    border-radius: 15px;
    margin: 4rem auto 4rem auto;
}

.contact-form-section h3{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 0px;
    letter-spacing: -0.02222em;
    color: #6B809B;
}

.contact-form-section h6{
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.125rem;
    color: #6B809B;
    margin-top: 2rem;
}

.contact-form-section .contact-form-section-child{
    padding-left: 2rem;
}

.contact-label{
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1px;
    color: #6B809B;
}


.input-style{
    margin-top: 8px;
    /* max-width: 31.9375rem; */
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #D2D6DA;
    border-radius: 8px;
}

.input-style::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 7px;
    /* color: rgba(73, 80, 87, 0.3); */
    opacity: 0.5;
}
/* input[tye="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
  } */
.e-contact-select{
    /* padding-right: 16px!important;    */
    }

  select, select option {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 7px;
    color: rgba(73, 80, 87, 0.74);
    opacity: 0.5;
  }

.input-contact-wrapper{
    width: 95%;
}

.contact-button{
    background: #F58634;
    border-radius: 66.1417px;
    font-style: normal;
    font-weight: 600;
    font-size: .75rem;
    line-height: 13px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    padding: 1rem 2.5rem;
    border: none;
}

.contact-information-column{
    background-image: url("../customImages/contact us frame.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 40%; */
    height: auto;
    border-radius: 0px 15px 15px 0px;
}

@media(max-width: 540px){

    .contact-information-column{
        display: none!important;
    }
    
    .contact-us-wrapper{
        margin-top: 8rem!important;
        margin-bottom: 6rem!important;
    }

    .contact-us-wrapper .e-contact-heading{
        font-size: 3rem!important;
        margin-top: -2rem;
    }
    .contact-form-section{
        /* max-width: 1210px;
        height: 669px; */
        width: 100%!important;
        background: #FFFFFF;
        box-shadow: 0px 20px 27px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        /* margin-left: 1rem;
        margin-right: 1rem; */
    }

    .contact-form-section-child h3{
        line-height: 110%!important;
        /* letter-spacing: 5em; */
    }

    
    /* .contact-form-section form{
        padding-left: 1.1rem!important;
    } */
    /* .card{
        margin-top: 9rem!important;
    }
    .row{} */
    .col{
        /* display: flex!important;
        flex-direction: column!important;
        width: 100%!important; */
    }
    .input-style{
        /* width: 100!important; */
    }

}
@media(min-width: 601px) and (max-width: 900px){
    .contact-information-column h1{
        line-height: 2rem;
    }
}
/* END OF CONTACT US SECTION */
/* END OF CONTACT US SECTION */