.native{
    transition: 0.5s;
}

.native:hover{
   scale: 1.1;
}

@media(max-width: 990px){
    .basic-skills{
        align-self: start;
        margin-left: 0px !important;
    }
    .basic-skill-text{
        font-size:18px !important;
        padding: 0rem!important;
    }
    .basic-skill-sect{
        margin: 0% !important;
    }
    .tech-based-solution{
        line-height: 40px !important;
        font-size: 26px !important;
        text-align: center;
    }
    .tech-based-solution2{
        padding: 0rem !important;
        font-size: 17px !important;
    }
    .image-foodbank{
        margin: auto;
    }
}
