*{
    font-family: "inter", sans-serif;
}


.blogpost-img{


height: 448px;
left: 94px;
top: 228px;
border-radius: 16.4645px;
}

.red{
    background-color: blueviolet;
}
.blogpost-text{
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 117.5%;


text-transform: capitalize;

color: #6B809B;
}
.blogpost-text2{
font-family: inter;
font-style:normal;
font-weight: 400;
font-size: 22px;
line-height: 54px;


letter-spacing: 0.01em;

color: rgba(0, 0, 0, 0.7);


}
.blogpost-aug{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 28.9332px;
line-height: 23px;


letter-spacing: 0.01em;

color: rgba(0, 0, 0, 0.3)
}
.blogpost_eyeimg{
width: 90%;


border-radius: 4.10353px;

}
.readmore_text1{
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28.2388px;
line-height: 105.5%;


text-transform: capitalize;

color: rgba(107, 128, 155, 0.8);

}
.i-blog-button{
    max-width: 360px;
    height: 36px;
    background: #F58634;
    border-radius: 30px;
    border:none;
    color: #ffffff;
    padding: 7.0597px 18.5317px;
gap: 8.82px;

}
.i-blogend-button{
    max-width: 400px;
    height: 50px;
    background: #F58634;
    border-radius: 30px;
    border:none;
    color: #ffffff;
    padding: 7.0597px 18.5317px;
gap: 8.82px;
}
.brind{
    text-align: center;
   
}
.logost{
    justify-content: center;
}

@media (max-width:990px){
    .blogpost_about_content{
        flex-wrap: wrap;
        
    }
}