.copyright-txt{
    font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #FFFFFF;

}

@media(max-width: 375px){
   
}

/* Ipad screen */
@media(min-width: 540px) and (max-width: 912px){
   
}

@media(min-width: 912px) and (max-width: 1280px){
 
}