.big-title {
    font-weight: 800;
    font-size: 64px;
    line-height: 67.52px;
    color: #000000;
    text-transform: capitalize;
}

.zero-padding {
    padding: 0px !important;
}

.box-shadow {
    box-shadow:3px 3px 8px #e0e0e0;
    border: none;
}

.medium-title {
    color: #000000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 53px;
    line-height: 120.5%;
    text-align: center;
}

.medium-subtitle {
    font-weight: 500;
    font-size: 22.6181px;
    line-height: 120.5%;
    text-align: center;
}

.orange-rule {
    border-top: 5px solid #f58634;
    border-radius: 20px;
    opacity: 100%;
    width: 80px;
}
.gray-rule {
    border-top: 5px solid #d9d9d9;
    border-radius: 20px;
    opacity: 100%;
    width: 80px;
}

.text-gray-underline {
    font-weight: 600;
    font-size: 24px;
    line-height: 120.5%;
    text-decoration-line: underline;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.display-beside {
    display: flex;
    flex-wrap: wrap;
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
}

.gallery-rule {
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

.orange-color {
    color: #f58634 !important;
}

.text-black-paragraph {
    font-weight: 500;
    font-size: 20px;
    line-height: 28.5px;
    color: rgba(0, 0, 0, 0.5);
}
/* ABOUT US SECTION */
.e-aboutus-home {
    background-image: url("../customImages/about-us\ background.png");
    height: auto;
    padding-right: 6rem;
}

.e-aboutus-home .e-abouts-home-right{
    max-width: 35rem;
}
.e-aboutus-img{
    width: 40%;
    margin-left: -2rem;
}

/* Mobile responsive */
@media(max-width: 414px){
    .e-aboutus-img{
        display: none;
    }
    .e-aboutus-home .e-abouts-home-right{
        width: 100%;
    }
    .e-aboutus-home .e-abouts-home-right h2{
        font-size: 2.5rem!important;
    }
    .e-aboutus-home .e-abouts-home-right p{

    }
    .e-aboutus-home{
        padding: 1rem;
    }
}

/* Ipad screen */
@media(min-width: 500px) and (max-width: 900px){
    .e-aboutus-img{
        display: none;
    }
    .e-aboutus-home .e-abouts-home-right{
        max-width: unset!important;
    }
    .e-aboutus-home{
        padding: 1rem!important;
    }
    .e-aboutus-home-right{
        max-width: 70rem!important;
    }
    .e-abouts-home-right p{
        font-size: 1rem;
        text-align: justify!important;
    }
}
/* END OF ABOUT US SECTION */



.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
}

/*

ll
ll

*/

/* Final fix style */
.about-us-margin{
    margin-top: 6.5rem;
}
.glass-margin{
    margin-top: 6rem!important;
}
/* End of final fix style */

@media (min-width: 1198px) {
    .block-display-tab {
        display: flex !important;
    }

    .archwarejo-width-bottom-head {
        width: 43%;
    }

    .archwarejo-width-top-head {
        width: 57%;
    }

    .archwarejo-width-top {
        width: 41%;
    }

    .archwarejo-width-bottom {
        width: 59%;
    }

    .archwarejo-image-fully-bottom {
        margin-bottom: -48px;
        margin-left: -4.2em;
    }

    .middle-content-padding-right {
        padding-right: 7em;
    }

    .padding-left-desktop {
        padding-left: 2em !important;
    }
}

@media (max-width: 1320px) {
}

@media (max-width: 1198px) {
    .block-display-tab {
        display: block !important;
    }

    .image-width-tab {
        width: 100%;
    }

    .experience-body-mobile {
        background: #6b809b !important;
        padding: 0.5rem !important;
    }

    .experience-body-with-pix-mobile {
        background: none !important;
        border-radius: unset !important;
    }

    .image-padding-buttom {
        padding: unset !important;
    }
}

@media (max-width: 990px) {
    .section-top {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 1em;
    }

    .section-top > .archware-text-justify {
        margin-right: auto;
    }

    .small-mobile-long-button {
        width: unset !important;
        padding: 0.5em 1.5em 0.5em 1.5em !important;
    }

    .experience-body-mobile {
        background: #08090a !important;
        padding: 0.5rem !important;
    }

    .experience-body-with-pix-mobile {
        background: none !important;
        border-radius: unset !important;
    }

    .image-padding-buttom {
        padding: unset !important;
    }
}

@media (max-width: 769px) {
    .mobile-padding {
        padding: 0.15rem !important;
    }

    .inner-padding {
        padding: 0.25rem !important;
    }

    .card-height-mobile {
        height: 34em !important;
    }

    .image-min-height-mobile {
        height: 14em;
    }
}

@media (max-width: 576px) {
    .text-title-mobile {
        font-size: 2.25rem!important;
        line-height: 38px !important;
    }

    .text-body-mobile {
        font-size: 15px !important;
        line-height: 20px !important;
    }

    .text-label-mobile {
        font-size: 1.2em !important;
        line-height: 38px !important;
    }

    .experience-body-mobile {
        background: #6b809b !important;
        padding: 0.5rem !important;
    }

    .experience-body-with-pix-mobile {
        background: none !important;
        border-radius: unset !important;
    }

    .image-padding-buttom {
        padding: unset !important;
    }

    .text-top-about-us {
        font-size: 2.25rem !important;
    }

    .text-white-header {
        font-size: 1.37rem !important;
    }

    .text-white-paragraph {
        margin-top: 0.2em !important;
    }

    .archware-card-padding-left {
        padding-left: .8rem !important;
        justify-content: left !important;
    }

    .archware-card-paragraph-padding {
        padding: 0.3em !important;
        text-align: left !important;
    }

    .archware-card-title {
        padding: 0.1em !important;
        text-align: left !important;
    }

    .remove-shadow-mobile {
        box-shadow: none !important;
        transition: none !important;
        scale: unset !important;
    }

    .lettalk-mobile {
        display: table-cell !important;
        padding: 0.5em;
    }

    .large-button-mobile {
        background: #040856 !important;
        border-radius: 4px !important;
        font-weight: unset !important;
        font-size: unset !important;
        line-height: unset !important;
        height: unset !important;
        color: #ffffff;
        margin-left: unset !important;
        margin-right: unset !important;
        width: unset !important;
        padding: 0.5em 1.5em 0.5em 1.5em !important;
    }
}

@media (max-width: 414px) {
    
}

.foremost-blog-read-more {
    font-weight: 600;
    font-size: 19.31px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #f58634;
}

.foremost-blog-title {
    font-weight: 600;
    font-size: 23px;
    line-height: 128.5%;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}

.foremost-card-title {
    font-weight: 700;
    font-size: 27px;
    line-height: 120.5%;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #6b809b;
}

.foremost-card-body {
    text-align: left;
    margin-bottom: auto;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.5);
}

.text-top-about-us {
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 120.5%;
    color: #ffffff;
    margin-top: 0.2rem;
}

.text-white-header {
    font-style: normal;
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 42px;
    color: #ffffff;
    margin-top: 0.2rem;
}

.text-white-paragraph {
    margin-top: 1.5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 172%;
    color: #ffffff;
}

.archware-text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.archware-content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 172%;
    color: rgba(4, 8, 86, 0.7);
    padding-top: 0.5em;
}

.small-mobile-long-button {
    width: unset !important;
    padding: 0.5em 1.5em 0.5em 1.5em !important;
}

.text-label-large-screen {
    font-weight: 600;
    font-size: 30px;
    line-height: 72px;
    color: #0d2158;
    text-align: center;
}

.archware-button-default {
    background: #f58634;
    border-radius: 5em;
    border: none;
    width: 312px;
    color: #ffffff;
}

.foremost-button-border {
    background: #f58634;
    border-radius: 0.4em;
    border: none;
    color: #ffffff;
}

.need-glass-back-img {
    background-image: url("../customImages/eye-glass-shop.jpg") !important;
}

.move-left-wall {
    padding-left: initial !important;
}

.large-button-mobile {
    max-width: 220px;
    height: 137px;
    background: #040856;
    border: none;
    font-weight: 700;
    font-size: 39px;
    line-height: 38px;
    color: #ffffff;
    margin-left: auto;
    margin-right: 0;
}

/* FINAL FIX EBUKA CSS */
.button-margin-top{
    margin-top: 2rem;
}