@media (min-width: 1198px) {

}

@media (max-width: 1320px) {
}

@media (max-width: 1198px) {

}

@media (max-width: 990px) {

}

@media (max-width: 769px) {

}

@media (max-width: 576px) {

}

@media (max-width: 414px) {

}

.big-title {
    font-weight: 700 !important;
    font-size: 50px;
    line-height: 58px;
    color: #000000;
}
