.gallery-section{
    margin-top: 6rem;
}

.gallery-section h1{
    font-style: normal;
    font-weight: 700;
    font-size: 3.3125rem;
    line-height: 120.5%;
    /* identical to box height, or 64px */ 
    text-align: right;
    letter-spacing: -1px;
    text-transform: capitalize;
    color: #000000;
}

.e-gallery-left{
    width: 25%!important;
    height: 50vh!important;
    /* background: blue!important; */
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-image: url("../customImages/gallery pic 1.png")!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.e-gallery-middle{
    width: 25%!important;
    height: 50vh!important;
    /* background: blue!important; */
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.1)!important;
    border-radius: 5px;
    background-image: url("../customImages/gallery pic 2.png")!important;
    background-repeat: no-repeat;
    background-size: cover;
}
.e-gallery-right{
    width: 25%!important;
    height: 50vh!important;
    /* background: blue!important; */
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-image: url("../customImages/gallery pic 3.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.e-hover-change:hover{
    /* transition: color 1s ease, transform 1s ease; */
    transition: 0.9s;
}
.e-hover-change:hover{
    width: 30%;
    height: 55vh;
    cursor: pointer;
    scale: 1.1;
}

.gallery-indicator {
   margin-top: 3rem!important;

}

.gallery-indicator .active {
    background-color: #F58634;
}

@media(max-width: 414px){
    .e-hover-change{
        width: 100%!important;
    }

    .gallery-section h1{
        font-size: 3rem;
    }
}