@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
    font-family: sans-serif;
}
.errorpage-body {
    background-color: #dadfe5;
    background-image: url("../customImages/background.png") !important;
}
.errorpage-h1 {
    font-size: 12rem;
    color: #6b809b;
    margin-left: 9rem;
    margin-bottom: 10rem;
}

.firstp {
    font-size: 2rem;
    margin-left: 9.3rem;
    font-weight: 3rem;
    padding-bottom: 5rem;
}

.secondp {
    position: absolute;
    width: 501px;
    height: 60px;
    left: 135px;
    top: 459px;

    font-style: normal;
    font-weight: 100;
    font-size: 21.5644px;
    line-height: 136.8%;
    /* or 30px */
    margin-top: -1.5rem;
    margin-left: 1.5rem;

    color: #000000;
}

.ptags {
    margin-top: -8rem;
    padding-top: -1rem;
}

.errorpage-home {
    border-radius: 40px;
    width: 264.76px;
    height: 63.5px;
    background-color: #f58634;
    border: none;
    font-size: 1.5rem;
    color: white;
    margin-left: 10.5rem;
    margin-top: 3rem;
}
.errorpage-img {
    float: right;
    margin-top: 2rem;
}
.errorpage-container {
    display: flex;
    justify-content: space-between;
    margin-right: 6rem;
}
@media only screen and (max-width: 768px) {
    .errorpage-h1 {
        font-size: 6.5rem;
        margin-left: 2.5rem;
        margin-bottom: 5rem;
    }
    .firstp {
        margin-left: 2.5rem;
        position: absolute;
        top: 173px;
    }
    .secondp {
        position: absolute;
        width: 350px;
        height: 60px;
        left: 25px;
        top: 280px;
        font-size: 16px;
    }
    .home {
        border-radius: 40px;
        width: 175px;
        height: 39px;
        background-color: #f58634;
        border: none;
        font-size: 1rem;
        color: white;
        margin-left: 2.5rem;
        margin-top: 13rem;
    }
    .errorpage-img {
        float: right;
        height: 35vh;
        padding-left: 3rem;
    }
}
