@import "../../resources/css/_variables.css";

/* Nav text Start*/
.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}
/* 
ul li a {
   
   color: #000000!important;
   font-style: normal;
font-weight: 400;
font-size: 18.24px;
line-height: 22px;
} */

.archware-nav-title{
    color: #000000!important;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
}

nav button[type="button"]{
    /* width: 131.08px; */
    padding: .875rem 1rem;
    height: auto;
    background: #F58634;
    border-radius: 4.7179px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #FFFFFF;

}
nav button[type="button"]{
    margin-right: 2rem;
}

.right-nav{
    margin-left: 19%;
    margin-top: 1rem;
}

.button-wrapper{
    margin-left: 1.5rem;
}

/* Hide the light logo by default */
.light-logo{
    display: none;
}

.nav-link-text{
    color: white!important;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #bbb1cb;
}

.navbar-trigger{
    background: #1F3F95;
}

/* Nav Dropdown styles */
.dropdown-style li a {
    font-weight: 300;
    color: #1F3F95;
    font-size: .87rem;
}
.hamburger-mobile{
    display: none;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    margin-left: 149px;
}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}
.nav > .nav-links > ul li a {
    display: block;
    padding: 0 8px;
    color: #1f3f95;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
}

.nav > .nav-links > ul {
    margin-left: 165px;
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
}
.nav > .nav-links > ul li {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.nav > #nav-check {
    display: none;
}
ul li a:nth-child(2) {
    display: none;
}

.nav .nav-links ul a i {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}
@media (max-width: 1200px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }
    .nav > .nav-btn > label:hover,
    .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid rgba(4, 8, 86, 0.7);
    }
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: rgb(231, 233, 238);
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > ul li a {
        display: block;
        width: 100%;
    }
    /*   */
    .nav > .nav-links > ul li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: rgb(231, 233, 238);
    }
    .nav > .nav-links > ul li a {
        margin-top: -10px;
        margin-left: 0%;
    }
    .btnnav {
        margin-left: 0%;
    }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(20vh - 25px);
        overflow-y: auto;
    }
    .nav {
        margin: 10px;
    }
}
/* RESPONSIVE STYLES */
@media(max-width: 990px){
    .hamburger-mobile{
        display: block;
    }
    .hamburger-desktop{
        display: none;
    }
    .right-btn-container{
        /* margin-left: -17%!important; */
    }
    .nav-links-a{
        margin-left: 0!important;
    }
    .colored-logo, .light-logo{
        margin-left: 0!important;
    }
}

@media(max-width: 414px){
    .dropdown-style{
        width: 100%!important;
    }
}
