@import "../../resources/css/_variables.css";

/* Nav text Start*/
nav{
    padding: 1rem 0!important;
}

.navbar-scroll .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
  color: #fff;
}

.archware-nav-title{
    color: #000000!important;
    font-style: normal;
    font-weight: 400;
    font-size: .83rem;
    line-height: 22px;
    position: relative;
}
.archware-nav-title-drop{
    font-size: .83rem!important;
}
/* .archware-nav-title:active {
    color: forestgreen!important;
    text-decoration-color: hotpink!important;
} */

.archware-nav-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F58634;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .archware-nav-title:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

nav .buy-button{
    /* width: 131.08px; */
    padding: .875rem 1.5rem;
    height: auto;
    background: #F58634;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #FFFFFF;

}
nav button[type="button"]{
    margin-right: 2rem;
}

.right-nav{
    margin-left: 26.5%;
    margin-top: 1rem;
}

.button-wrapper{
    margin-left: 1.5rem;
}

/* Hide the light logo by default */
.light-logo{
    display: none;
}

.e-cart-wrapper{
    display: none;
}

.nav-link-text{
    color: #000000!important;
}

/* Color of the navbar AFTER scroll */
.navbar-scroll,
.navbar-scrolled {
  background-color: #bbb1cb;
}

.navbar-trigger{
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.17);
    /* box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25); */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transition: all 0.1s;
}

/* Nav Dropdown styles */
.dropdown-style li a {
    font-weight: 300;
    color: #1F3F95;
    font-size: .87rem;
}
.hamburger-mobile{
    display: none;
}

.nav > .nav-links > ul li a {
    display: block;
    padding: 0 8px;
    color: #1f3f95;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
}

.nav > #nav-check {
    display: none;
}
ul li a:nth-child(2) {
    display: none;
}

.nav .nav-links ul a i {
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

.e-drop-nav{
    cursor: pointer;
}

.greetings{
    font-size: .775rem;
    font-weight: 600;
    margin-left: -1em;
}

.mobile_search{
    display: none;
}
@media (max-width: 1200px) {
   
}
/* RESPONSIVE STYLES */
@media(max-width: 990px){
    .hamburger-mobile{
        display: block;
    }
    .hamburger-desktop{
        display: none;
    }
    .right-btn-container{
        /* margin-left: -17%!important; */
    }
    .nav-links-a{
        margin-left: 0!important;
    }
    .colored-logo, .light-logo{
        margin-left: 0!important;
        width: 40%;
    }
    .right-nav{
        margin-left: 0;
    }
    .button-wrapper{
        margin-left: 1rem;
        margin-top: 1rem;
    }
    nav{
        background: #FFFFFF;
        /* box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05); */
        /* transition: all 0.1s; */
    }
    .e-drop-nav{
        margin-left: 1rem!important;
        margin-top: .5rem!important;
    }
}

@media(max-width: 414px){
    .dropdown-style{
        width: 100%!important;
    }
    .hamburger-mobile{
        display: block;
        margin-right: .5rem!important;
    }
    .search-iconNav{
        cursor: pointer;
    }
.nav_mobile{
    padding-right: 1rem!important;
}
.right-nav{
    margin-left: 0;
}

.e-cart-wrapper{
    position: relative;
    display: block;
}

.cart-quant{
    position: absolute!important;
    top: -0.8rem;
    right: -0.1rem;
    color: #6B809B;
}

.colored-logo{
    margin-left: 0!important;
    width: 30%!important;
}

.mobile_search{
    /* display: block; */
    position: absolute;
    top: 5rem;
    z-index: 1;
}

.mobile_searchBord{
    border:#000000;
}
}

/* Large screen size responsive style */
@media screen and (min-width: 1600px){
    .right-nav{
        margin-left: 35%;
    }
}
