/* SHOP MEN STYLES */
*{
    font-family: 'inter', sans-serif;
}
/* Hero sction */
.shop-hero{
    background-image: url("../customImages/shop-men-hero.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin-top: 3rem;
    padding: 0 0 10rem 0;
}

/* Breadcrumb */
.shop-hero nav {
    width: 100%;
    /* padding: 1rem 0; */
    background: rgba(255, 255, 255, 0.1);
} 

.search-wrapper{
    width: 35%;
    /* height: 62px; */
    position: relative;
}

.search-shop-image{
    /* width: 21.34px; */
    max-width: 3.085rem;
    height: 17.36px;
    position: absolute;
    cursor: pointer;
    left: 88%;
    top: 35%;
}

.search-wrapper input[type="search"]{
    /* width: 90%!important; */
    max-width: 41.4375rem;
    height: 62px;
    border-radius: 5px;
    border: none;
}

.search-wrapper input[type="search"]::placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 147.9%;
    color: rgba(107, 128, 155, 0.6);
} 

.search-wrapperMobile input[type="search"]{
    /* width: 90%!important; */
    max-width: 41.4375rem;
    height: 62px;
    border-radius: 5px;
}


.search-wrapperMobile input[type="search"]::placeholder{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 147.9%;
    color: rgba(107, 128, 155, 0.6);
} 


.button-wrapper a .login{
    /* height: 44px; */
    padding: .9rem 2rem;
    background: #6B809B;
    border-radius: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FDFDFD;
    border: none;
}
.button-wrapper a .signup{
    padding: .9rem 2rem;
    color: #6B809B;
    border-radius: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    background: #FDFDFD;
    border: none;
}

.button-wrapper a .try-it{
    padding: .9rem 2rem;
    color: #6B809B;
    border-radius: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    background: #FDFDFD;
    border: none;
    text-transform: capitalize;
}

.right-nav-button-shop-wrapper{
    list-style-type: none;
}

.shop-button{
    padding: .9rem 2rem;
    height: auto;
    background: #F58634;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #FFFFFF;
    /* margin-top: 2rem; */
}

.buy-button-shop{
    padding: .9rem 2.2rem;
    height: auto;
    background: #F58634;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 2rem;
}

.e-shop-copy {
    margin-top: 9rem;
    /* margin-left: 5rem; */
}
.e-shop-copy .e-shop-copy-child{
    margin: 0 auto!important;
}
.e-shop-copy h1{
    font-style: normal;
    font-weight: 800;
    font-size: 4rem;
    line-height: 4.8rem;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    /* max-width: 47rem; */
    /* text-align: center!important; */
}

.shop-top-hero{
    margin-top: 5rem;
}

.e-shop-copy p {
    /* max-width: 55.75rem; */
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 31px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 2rem;
    /* text-align: justify; */

}
/* End of hero section */

/* Glass section */
.glass-section{
    width: 100%;
    height: auto;
    padding: 1rem;
    background: rgba(217, 217, 217, 0.3);
}

.glass-wrapper, .glass_mobile_wrapper, .glass_slide_wrapper{
    width: 90%;
    margin: 0 auto;
}
/* End of glass section */

/* Store card section */
.store-wrapper{
    /* margin-top: 2rem; */
    /* padding: 0 6rem; */
}

.car_image_wrapper{
    width: 100%;
    height: 25vh;
}

.store-heading{
    padding-left: 2rem;
    padding-right: 2rem;
}

.store-heading h1{
    font-style: normal;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 60px;
    color: #000000;
}

.sort-wrapper{
    width: 40%;
} 

.sort-wrapper label{
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 45px;
    color: #000000;
}

.sort-wrapper select{
    width: 18.875rem;
    height: auto;
    padding: .8rem .2rem;
    background: #FFFFFF;
    border: 1px solid #B9B9B9;
    border-radius: 5px;
}

.shop-card{
    max-width: 20.65rem;
    height: auto;
    padding-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 20px 24px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2rem;
    padding-left: unset!important;
    padding-right: unset!important;
    cursor: pointer;

    /* cursor: pointer; */
}
.shop-card-heading{
    margin: .5rem .8rem;
}

.shop-card-heading h4{
    max-width: 19.75rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 140%;
    /* or 25px */
    color: #6B809B;
}

.shop-card-heading p[data="date-updated"]{
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 180%;
    letter-spacing: -0.01em;
    color: #6B809B;
}

.shop-card-heading li{
    list-style-type: none;
}

.shop-card-heading .star-rating{
    margin-top: 1.3rem;
}

.shop-card-heading .star-rating img{
    padding: 0 .5rem;
}

.shop-card-heading .star-rating span{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 180%;
    letter-spacing: -0.01em;
    color: #6B809B;
}


 
.price .price-child p:nth-child(1){
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 180%;
    letter-spacing: -0.01em;
    color: #6B809B;
}

.price .price-child p:nth-child(2){
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: line-through;
    line-height: 180%;
    letter-spacing: -0.01em;
    color: #6B809B;
    margin-left: .5rem;
}

.shop-card-button{
    padding: .7rem 1.3rem;
    height: auto;
    background: #F58634;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #FFFFFF;
    /* position: absolute; */
}

/* Paginated button */
.pagination-button-wrapper{
    width: 30%;
    margin: 5rem auto;
}

.paginated-first-button{
    background: #F58634;
    border-radius: 7.24893px;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2rem;
    border: none;
    color: #FFFFFF;
    padding: .2rem 1.2rem;
}

.second{
    background: rgba(107, 128, 155, 0.8)!important;
}

.pill-button{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 31px;
    /* identical to box height */
    color: #000000;    
}

.cart_wrapper{
    position: relative;
}

.delete-icon{
    cursor: pointer;
}

.e-card-modal{
    max-width: 35rem;
    height: auto;
    /* margin: 0 auto; */
    padding: 2.5rem 1.8rem;
    display: none;
    left: 30%;
    right: 20%;
    top: 5%;
    transition: 1s ease-in-out;
}

.e-card-modal h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}

.e-card-modal .button_wrap{
    margin-top: 2rem;
}

.e-card-modal .button_wrap button[type="button"]{
    border: none;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    color: #FFFFFF;
}

.e-card-modal .button_wrap button[type="button"]:nth-child(1){
    background: #F58634;
}

.e-card-modal .button_wrap button[type="button"]:nth-child(2){
    background: red;
    margin-left: 1rem;
}

/* .nav-pill-head-wrapper{
    width: 90%!important;
} */

/* .nav-but > .active > button { 
    background-color: yellow!important; 
} */

.nav-pills .nav-link.active{
    color: #fff;
    /* width: 80%; */
    padding: 0 2.5rem;
    height: 7vh;
    background: #6B809B;
    border-radius: 80px;
}

.e-card-link{
    text-decoration: none;
}

.nav-link-pagina{
    cursor: pointer;
}

.page-link{
    color: #F58634!important
}

.details-Image{
    width: 100%;
    height: 30vh;
}

.det_imageWrapper{
    max-width: 20rem;
    height: 20rem;
}

.cart_imageWrapper{
    max-width: 10rem;
    min-height: 3vh!important;
}

.mobile_product{
    display: none;
    background-color: unset!important;
}
.hero-sub-nav{
    display: none;
}

.e-hero-content{
    display: none;
}

.shop_buttonWrapperMobile{
    display: none!important;
}

.singup-category{
    display: none!important;
}

.category-desktop{
    display: none!important;
}

.accordion-button:not(.collapsed){
    color: #F58634!important;
}
@media(max-width: 820px){
    .store-wrapper{
        margin-top: 2rem;
    }

    .left_productDesktop{
        width: 100%!important;
    }

    .store-heading{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .category_heading{
        margin-left: unset!important;
    }
}

/* RESPONSIVENESS */
@media(max-width: 414px){
    .sliderDrawer_product{}
    .image_style{
        height: 18vh!important;
    }
    .category-desktop{
        display: block!important;
    }

    .sub-nav-mobile{
        display: none!important;
    }

    .det_imageWrapper{
        max-width: 100%;
        height: 20rem;
    }

    .det-subNavMobile{
        display: none!important;
    }
    

    .shop-card{
    max-width: 10rem;
    min-height: 13vh!important;
    padding-bottom: unset!important;
    }

    .showSearch{
        display: block!important;
    }

    .card_nameMobile{
        min-height: 5rem;
    }

    .card_nameMobile h4{
        overflow: hidden;
        white-space: nowrap; 
        text-overflow: ellipsis!important; 
    }

    .price_wrapper{
        position: relative!important;
    }

    .productsData{
        /* justify-content: unset!important; */
        /* display: flex!important; */
    }

    .mobile_productsWrapper{
        padding-left: unset!important;
        padding-right: unset!important;
    }

    .price-child{
        /* margin-top: -6rem; */
    }

    .price-child p{
        /* margin-top: 1rem; */
        color: #F58634!important;
        text-align: left!important;
    }

    .price-child p:nth-child(2){
        font-size: .8rem!important;
    }

    .shop-hero{
        margin-top: -3rem;
        padding-top: 3rem;
    }

    .shop-card-heading p[data="date-updated"]{
        display: none;
    }

    .star-rating{
        display: none!important;
    }

    .e_shopcardbutton{
        display: none;
    }

    .singup-category{
        position: absolute;
        z-index: 120000;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 8rem;
        padding-top: 1rem;
    }

    .search-wrapper{
        width: 100%;
        padding: .8rem;
    }

    .desktop_search{
        display: none;
    }

    .search-shop-image {
        left: 84%!important;
        top: 40%;
    }
    .search-wrapper input[type="search"]::placeholder{
        font-size: 1rem;
    }
    .but-wrapper-mobile{
        margin-top: 1rem;
        width: 100%!important;
        display: flex!important;
        flex-direction: column!important;
        align-items: center!important;
        margin: 0 auto!important;
    }
    .signup, .try-it{
        margin-top: .7rem;
    }
    .shop-button{
        margin-top: .7rem!important;
        padding: 1rem 1.5rem!important;
        font-size: .7rem!important;
    }
    .e-shop-copy{
        margin-left: 0;
        padding: 0 .8rem;
        margin-top: 2rem;
    }
    .e-shop-copy h1{
        font-size: 2.5rem;
        text-align: left;
        line-height: 4rem;
    }
    .e-shop-copy p {
        font-size: 1.2rem;
        text-align: left;
    }
    .buy-button-shop{
        padding: .9rem 1.5rem;
    }
    .sort-wrapper{
        width: 100%;
    }
    .sort-wrapper label{
        font-size: 1.5rem;
    }
    .sort-wrapper select{
        width: 100%;
        margin-top: 1rem;
    }
    .eb-tab{
        margin-top: 2rem;
    }
    .pagination-button-wrapper{
        width: 70%;
    }
    .second-mobile{
        margin-top: 3rem!important;
    }
    /* Shop men, women tabs style */
    .shop-card{
        width: 100%!important;
        margin-top: 2rem;
        height: auto;
        padding-bottom: 1rem;
    }
    .store-heading h1{
        font-size: 2.2rem;
        text-align: center;
        font-weight: 600;
    }

    .shop_display{
        width: 100%;
        padding: .5rem!important;
    }
    .left_product, .left_productDesktop{
        width: 100%!important;
        display: none;
    }

    /* Mobile product filter */
    .mobile_product{
        display: block!important;
    }

    .toggle_accordion{
        display: none;
    }
  .right_product{
    width: 100%!important;
    /* margin-top: -3rem; */
    margin-left: unset!important;
    margin-right: unset!important;
  }
  .productsData{
    margin: 0 auto;
}
.category_heading{
    margin-left: unset!important;
    display: none;
}
#show_filter{
    display: none!important;
}

/* HERO NAV */
ul, li{
    margin: unset;
    padding: unset;
    background: none;
}
nav#hero-sub-nav.hero-sub-nav.container-fluid{
    background: unset;
}
.hero-sub-nav{
    width: 100%;
    display: block;
   
}
.hero-sub-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .4rem;
}
.hero-sub-nav ul li{
    list-style-type: none;
    cursor: pointer;
}

.hero-active{
    color: #F58634;
    position: relative;
    border-bottom: 2px solid #F58634;
    padding-bottom: 1rem;
}



.e-hero-content{
    display: block;
}

/* #relevance,  */
#arrival,
#rated
{
    display: none;
}

.sort-wrapper{
    display: none!important;
}

.nav-pill-head-wrapper{
    display: flex!important;
    flex-direction: row!important;
}

.pill-button{
    font-size: .9rem;
}

.nav-pills .nav-link.active{
    color: #fff;
    /* width: 80%; */
    padding: 0 2rem;
    height: 6.5vh;
    background: #6B809B;
    border-radius: 80px;
}

ul#pills-tab.nav.nav-pills.nav-pill-head-wrapper.mb-3.d-md-flex.justify-content-center{
    margin: unset!important;
}

.nav-pills{
    margin-left: unset!important;
}

.mobile_product{
    margin-top: -1rem;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    z-index: 1!important;

}

.mobile_productsWrapper{
    position: relative!important;
}

.right_product{
    /* margin-top: -8rem; */
}

.button-wrapper{
    flex-wrap: nowrap;
}

.button-wrapper a .login, .button-wrapper a .signup{
    padding: .8rem 1.7rem;
    font-size: .8rem;
}

.mobile-but-style{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mob_right_product{
    margin-top: -2rem;
}

.right_productDesktop{
    display: none;
}

.shop_buttonWrapper{
    display: none!important;
}

.shop_buttonWrapperMobile{
    /* display: block!important; */
    margin-left: unset!important;
    margin-right: unset!important;
    display: flex!important;
    flex-direction: row!important;
    justify-content: center!important;
    align-items: center!important;
}

.mobile-login{
    padding: .7rem 1.5rem;
    background: #6B809B;
    border-radius: 25px;
    font-style: normal;
    font-weight: 500;
    font-size: .875;
    line-height: 19px;
    text-align: center;
    color: #FDFDFD;
    border: none;
}

.shopButton_mobile{
    padding: .8rem 1rem;
    height: auto;
    background: #F58634;
    border-radius: 25px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 0.9375rem;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
}

.price{
     margin-top: -3rem;
}

.cart_imageWrapper {
    max-width: 6rem;
    min-height: 3vh!important;
}
}

/* Ipad screen */
@media(min-width: 540px) and (max-width: 900px){
    .right_shopCard{
        width: 100%!important;
    }

    .sort-wrapper {
        max-width: 40rem!important;
        align-items: flex-start!important;
        justify-content: unset!important;
    }

    .buttonWrapper{
        max-width: 80rem!important;
        justify-content: space-evenly!important;
    }

    .right-nav-button-shop-wrapper{
        margin-top: 1rem!important;
    }

    nav button[type="button"]{
        margin-right: unset!important;
    }

    .search-shop-image{
        left: 80%!important;
    }

    #hide_close{
        display: none!important;
    }

    .image_style{
        height: 24vh!important;
    }

    .search-shop-image {
        left: 80%;
        top: 40%;
    }
    .sort-wrapper{
        max-width: 45rem!important;
    }
    .search-wrapper input[type="search"]::placeholder{
        font-size: .7rem;
    }
    .e-shop-copy h1{
        font-size: 2.5rem;
        text-align: left;
        line-height: 4rem;
    }
    .e-shop-copy p {
        font-size: 1.2rem;
        text-align: left;
        margin-top: 1rem;
    }
    .e-shop-copy{
        margin-left: 0;
        padding: 0 .8rem;
        margin-top: 2rem;
    }
    .store-heading{
        /* margin: 0 auto; */
        /* display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important; */
    }
    .store-heading h1{
        font-size: 2.5rem!important;
        text-align: center!important;
        font-weight: 600;
    }
    .store-wrapper{
    }
    .eb-tab{
        margin-top: 2rem;
    }
    .shop-card{
        margin-top: 2rem;
        height: auto;
        padding-bottom: 1rem;
    }
    .pagination-button-wrapper{
        width: 70%;
    }
}

 /* Next hub screen */
 @media(min-width: 900px) and (max-width: 1280px){
    .search-shop-image {
        left: 80%;
        top: 40%;
    }
    .sort-wrapper{
        width: 60%!important;
    }
    .search-wrapper input[type="search"]::placeholder{
        font-size: .7rem;
    }
    .e-shop-copy h1{
        font-size: 2.5rem;
        text-align: left;
        line-height: 4rem;
    }
    .e-shop-copy p {
        font-size: 1.2rem;
        text-align: left;
        margin-top: 1rem;
    }
    .e-shop-copy{
        margin-left: 0;
        padding: 0 1rem;
        margin-top: 2rem;
    }
    .store-heading{
        /* margin: 0 auto; */
        /* display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important; */
    }
    .store-heading h1{
        font-size: 2.5rem!important;
        text-align: center!important;
        font-weight: 600;
    }
    .store-wrapper{
    }
    .eb-tab{
        margin-top: 2rem;
    }
    .shop-card{
        margin-top: 2rem;
        height: auto;
        padding-bottom: 1rem;
    }
    .pagination-button-wrapper{
        width: 50%;
    }
    
 }

 /* Large Screens */
 @media screen and (min-width: 1500px){
    .shop-card{
        height: auto;
        padding-bottom: 1rem;
    }
 }

 /* Large screen size responsive style */
@media screen and (min-width: 1750px){
  
}
/* End of store card section */

/* Pagination styles */
.card-paginat{
    width: 100%!important;
    position: relative;
    /* padding: 1rem .7rem 3rem .7rem; */
    min-height: calc(100vh - 4rem);
}

.productsData{
    /* max-width: 90rem; */
    /* margin: 0 auto 0 auto; */
}

.hidden {
    display: none;
  }
  
  .pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #fff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #F58634;
  }
  .activeLink{
    color: #fff!important;
    background: #F58634!important;
  }

  .left_product, .left_productDesktop, .desktop_product {
    width: 20%;
    height: auto;
    min-height: 48vmin;
    max-height: 25vmax;
    background: rgba(240, 240, 240, 0.81);
    padding: .5rem;
  }

  .right_product{
    width: 90%;
    margin-left: 2rem;
  }

  .right_shopCard{
    width: 80%;
    margin-top: 3rem;
  }

  .hide_filter{
    cursor: pointer;
  }

  .hide_filter h2{
    font-size: 1.6rem;
    font-family: 600;
  }

  .img-arrow{
    cursor: pointer;
  }

 .color_container{
    cursor: pointer;
    max-width: 9rem!important;
  }

  .colours_wrapper--left .color_container p{
    margin-left: .5rem;
  } 

  .closeSideNav {
    width: 0;
    transition: .5s;
    overflow-x: hidden;
    padding: unset;
  }

  .closeMobileSideNav {
    display: none;
    height: 0;
    transition: 1s!important;
    overflow-y: hidden;
    padding: unset;
  }

  .openMobileSideNav{
    width: 100%!important;
    transition: height 700s linear;
    display: block;
    transition: .5s;
    
  }

  .showSearch{
    display: none;
  }

  .openSideNav{
    width: 20%!important;
    transition: .5s;
  }

  #show_filter{
    cursor: pointer;
    /* margin-top: .8rem; */
    margin-left: -8%;
    margin-right: 3%;
    display: none;
    text-decoration: underline;
    font-weight: 600;
  }

  .no_productText{
    margin-top: 3rem;
    color: #6B809B;
    font-weight: 600;
  }

  .category_heading{
    max-width: 100rem!important;
    /* margin-left: -5rem; */
    /* margin: 0 auto; */
  }

  .shop_display{
    /* padding-left: 1rem; */
    margin-top: 2rem;
  }

  .toggleIcon{
    /* max-width: 20rem; */
  }

  .hide_close{
    margin-left: .5rem;
  }

  .accordion-button{
    font-weight: 600!important;
  }

  .prod_availa{
    margin-top: 2.5rem;
  }
 
/* END OF SHOP MEN STYLES */



/* DETAILS PAGE STYLE */
.quantity-button{
    /* margin-top: 2rem; */
}
.quantity-button button[type="button"]{
    background: #F58634;
    padding: .3rem .8rem;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    /* font-size: 1rem; */
}

.quantity-button span{
    margin-left: .5rem;
    margin-right: .5rem;
    font-size: 1rem;
}

.image_style{
    width: 100%;
    height: 30vh;
}

.cart-card{
    /* max-width: 20%!important; */
}

.subtotal-card{
    max-width: 68rem!important;
    padding: .2rem .875rem;
    /* margin-top: -2rem; */
    margin: -2rem auto;
}

.checkout-buttons{
    margin-top: 2rem;
}

.counter-icon{
    margin-left: 2rem;
}

.price-val{
    margin-left: 2rem;
}


/* CART STYLES */
@media(max-width: 414px){
    .cart-stepper img{
        width: 3.5rem;
        height: 3.5rem;
    }

    .subtotal-card{
        padding: .2rem .875rem;
        margin-top: -2rem;
    }

    .counter-icon{
         margin-top: 1rem;
         margin-left: unset;
    }

    .price-val, .delete-icon{
        margin-top: 1rem;
        margin-left: unset;
    }

    .cart-card{
        /* padding-left: unset!important;
        padding-right: unset; */
    }
}